@import url("reset.css");
body {
	font-family: 'Work Sans', sans-serif;
}

.wrapper {
	overflow: clip;
	min-height: 100%;
}
[class*="__container"] {
	width: 1230px;
	min-height: 700px;
	padding: 0 15px;
	margin: 0 auto;
}
.main__block-car {
	position: relative;
	height: 700px;
	width: 100%;
	background: darkgreen url("../img/wood.jpg") 0 0 / cover no-repeat;
	overflow: hidden;
}
.car {
	position: absolute;
	bottom: 20px;
	left: 50px;
	width: 1100px;
	height: 450px;
	/* border: 1px solid red; */
	animation: move-car 12s linear 1 normal running 1s forwards;
	/* transition: all 0.3s ease; */
}
@keyframes move-car {
	0% {
	}
	10% {
		bottom: 40px;
	}
	20% {
		left: 45px;
		bottom: 40px;
	}
	40% {
		bottom: 40px;
		left: 600px;
	}
	70% {
		bottom: 40px;
		left: -1700px;
		transform: scale(1.0)
	}
	80% {
		bottom: 40px;
		left: -1700px;
		transform: scale(-1, 1)
	}
	90% {
		left: -430px;
		bottom: 40px;
		transform: scale(-1, 1) rotate(0.001deg);
		transform-origin: 75% 100%;
	}
	96% {
		left: -430px;
		bottom: 40px;
		transform: scale(-1, 1) rotate(10deg);
		transform-origin: 75% 100%;
	}
	100% {
		left: -430px;
		bottom: 40px;
		transform: scale(-1, 1) rotate(0deg);
		transform-origin: 75% 100%;
	}
}
/* .main__block-car:hover .car {
	transform: translateY(-40px) rotate(10deg);
	transform-origin: 80% 20%;
} */

.car__body {
	position: absolute;
	bottom: 80px;
	left: 98px;
	width: 1000px;
	height: 210px;
	background: rgb(101,0,0);
	background: linear-gradient(180deg, rgba(101,0,0,1) 0%, rgba(98,48,48,1) 46%, rgba(100,46,46,1) 48%, rgba(0,0,0,1) 100%);
	border: 3px solid black;
	border-radius: 40px;
	z-index: 1;
}
.car__arc {
	position: absolute;
	height: 140px;
	width: 280px;
	background-color: rgb(41, 0, 0);
	bottom: 80px;
	left: 140px;
	border-radius: 50% 50% 100% 0% / 100% 100% 0% 0%;
	z-index: 2;
}
.car__arc-two {
   position: absolute;
	height: 140px;
	width: 280px;
	background-color: rgb(41, 0, 0);
	bottom: 80px;
	left: 760px;
	border-radius: 50% 50% 100% 0% / 100% 100% 0% 0%;
	z-index: 2;
}
.car__wheel {
	position: absolute;
	width: 210px;
	height: 210px;
	background: rgb(0,0,0);
	background: radial-gradient(circle, rgba(0,0,0,1) 0%, rgba(63,63,63,1) 49%, rgba(65,65,65,1) 56%, rgba(67,67,67,1) 63%, rgba(0,0,0,1) 100%);
	border-radius: 50%;
	bottom: 0;
	left: 175px;
	z-index: 3;
	border: 5px dashed rgb(38, 38, 38);
	animation: rotate 12s linear 1 normal running 1s forwards;
}
@keyframes rotate {
	0% {
		
	}
	10% {
		width: 240px;
		height: 240px;
		bottom: -30px;
		left: 160px;
		border: 7px dashed rgb(38, 38, 38);
	}
	20% {
		transform: rotate(0deg);
		width: 240px;
		height: 240px;
		bottom: -30px;
		left: 160px;
		border: 7px dashed rgb(38, 38, 38);
	}
	40% {
		transform: rotate(300deg);
		width: 240px;
		height: 240px;
		bottom: -30px;
		left: 160px;
		border: 7px dashed rgb(38, 38, 38);
	}

	100% {
		width: 240px;
		height: 240px;
		bottom: -30px;
		left: 160px;
		transform: rotate(-1300deg);
		border: 7px dashed rgb(38, 38, 38);
	}
}


/* .main__block-car:hover .car__wheel {
	border: 7px dashed rgb(38, 38, 38);
	transform: scale(1.2) translateY(20px);
}
 */
.car__wheel-back {
	position: absolute;
	width: 210px;
	height: 210px;
	background: rgb(0,0,0);
	background: radial-gradient(circle, rgba(0,0,0,1) 0%, rgba(63,63,63,1) 49%, rgba(65,65,65,1) 56%, rgba(67,67,67,1) 63%, rgba(0,0,0,1) 100%);
	border-radius: 50%;
	bottom: 0;
	left: 795px;
	z-index: 3;
	border: 5px dashed rgb(38, 38, 38);
	animation: rotate-back 12s linear 1 normal running 1s forwards;
}
@keyframes rotate-back {
	0% {
		
	}
	10% {
		width: 240px;
		height: 240px;
		bottom: -30px;
		left: 780px;
		transform: rotate(0deg);
		border: 7px dashed rgb(38, 38, 38);
	}
	20% {
		transform: rotate(0deg);
		width: 240px;
		height: 240px;
		bottom: -30px;
		left: 780px;
		border: 7px dashed rgb(38, 38, 38);
	}
	40% {
		transform: rotate(300deg);
		width: 240px;
		height: 240px;
		bottom: -30px;
		left: 780px;
		border: 7px dashed rgb(38, 38, 38);
	}

	100% {
		width: 240px;
		height: 240px;
		bottom: -30px;
		left: 780px;
		transform: rotate(-1300deg);
		border: 7px dashed rgb(38, 38, 38);
	}
}
/* .main__block-car:hover .car__wheel-back {
	border: 7px dashed rgb(38, 38, 38);
	transform: scale(1.2) translateY(20px);
} */
.car__light-front {
	position: absolute;
	height: 80px;
	width: 15px;
	background: rgb(255,219,190);
	background: radial-gradient(circle, rgba(255,219,190,1) 19%, rgba(255,128,0,1) 83%, rgba(255,128,0,1) 92%, rgba(255,128,0,1) 100%);
	bottom: 165px;
	left: 83px;
	border: 1px solid black;
	border-radius: 100% 0% 0% 100% / 50% 100% 0% 50% ;
	z-index: 4;
}
.car__shine-front {
	position: absolute;
	bottom: 20px;
	left: -485px;
	width: 600px;
	height: 370px;
	border-radius: 0% 100% 70% 30% / 83% 48% 52% 17%;
	background: rgb(189,109,0);
	background: linear-gradient(276deg, rgba(189,109,0,1) 0%, rgba(255,0,0,0) 100%);
	opacity: 0.5;
	visibility: hidden;
	transition: all 0.5s ease 0.7s;
}
.main__block-car:hover .car__shine-front {
	visibility: visible;
}
.car__light-front.car__light-front_fog {
	position: absolute;
	height: 25px;
	width: 10px;
	background-color: rgb(255, 132, 0);
	bottom: 115px;
	left: 88px;
	border: 1px solid black;
	border-radius: 100% 0% 0% 100% / 50% 100% 0% 50% ;
	z-index: 4;
}
.car__rim {
	position: absolute;
	width: 150px;
	height: 150px;
	background: rgb(135,135,135);
	background: radial-gradient(circle, rgba(135,135,135,1) 0%, rgba(79,79,79,1) 50%, rgba(212,212,212,1) 77%, rgba(128,128,128,1) 100%);
	border-radius: 50%;
	bottom: 30px;
	left: 205px;
	z-index: 4;
	animation: rim  12s linear 1 normal running 1s forwards;
}
@keyframes rim {
	0% {
		
	}
	10% {
		bottom: 15px;
		transform: rotate(0deg);
	}
	100% {
		bottom: 15px;
		transform: rotate(-400deg);
	}
}
/* .main__block-car:hover .car__rim {
	transform: translateY(20px);
} */
.car__rim-back {
	position: absolute;
	width: 150px;
	height: 150px;
	background: rgb(135,135,135);
	background: radial-gradient(circle, rgba(135,135,135,1) 0%, rgba(79,79,79,1) 50%, rgba(212,212,212,1) 77%, rgba(128,128,128,1) 100%);
	border-radius: 50%;
	bottom: 30px;
	left: 825px;
	z-index: 4;
	animation: rim  20s linear 1 normal running 1s forwards;
}

.car__light-back {
	position: absolute;
	height: 90px;
	width: 15px;
	background: rgb(101,0,0);
	background: linear-gradient(180deg, rgba(101,0,0,1) 0%, rgba(255,0,0,1) 33%, rgba(176,176,176,1) 48%, rgba(193,193,193,1) 58%, rgba(186,186,186,1) 67%, rgba(193,193,193,1) 71%, rgba(255,128,0,1) 83%, rgba(255,128,0,1) 88%, rgba(255,128,0,1) 92%, rgba(255,128,0,1) 100%);
	bottom: 165px;
	left: 1097px;
	border: 1px solid black;
	border-radius: 0 5px 5px 0;
	z-index: 4;
}
.car__hood {
	position: absolute;
	bottom: 290px;
	left: 135px;
	width: 300px;
	height: 30px;
	background: rgb(101,0,0);
	background: linear-gradient(180deg, rgba(101,0,0,1) 0%, rgba(98,48,48,1) 46%, rgba(100,46,46,1) 48%, rgba(0,0,0,1) 100%);
	border: 3px solid black;
	border-radius: 40px 0 0 0;
	z-index: 1;
	animation: open-helm 3s ease 2 normal running 0s forwards;
}

@keyframes open-helm {
	0% {
		transform: rotate(0deg);
		transform-origin: 100% 100%;
	}
	50% {
		transform: rotate(15deg);
		transform-origin: bottom right;

	}
	100% {
		transform: rotate(0deg);
		transform-origin: 100% 100%;
	}
}

.car__wiss {
	position: absolute;
	bottom: 355px;
	left: 379px;
	width: 200px;
	height: 30px;
	background: rgb(0,0,0);
	background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(57,0,0,1) 50%, rgba(0,0,0,1) 100%);
	border: 3px solid black;
	border-radius: 0 0 0 40px;
	z-index: 0;
	transform: rotate(120deg);
}
.car__door {
	position: absolute;
	height: 180px;
	width: 280px;
	bottom: 110px;
	left: 430px;
	border: 4px solid black;
	border-radius: 0 0 45px 15px;
	z-index: 5;
}
.car__door-hand {
	position: absolute;
	height: 20px;
	width: 60px;
	bottom: 240px;
	left: 620px;
	border: 2px solid black;
	border-radius: 5px;
	z-index: 6;
	background: rgb(255,255,255);
	background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(96,96,96,1) 50%, rgba(255,255,255,1) 100%);
}
.car__seat {
	position: absolute;
	height: 75px;
	width: 130px;
	bottom: 260px;
	left: 657px;
	border: 2px solid black;
	border-radius: 0% 100% 100% 0% / 89% 82% 18% 11% ;
	z-index: 0;
	background: rgb(98,98,98);
	background: linear-gradient(180deg, rgba(98,98,98,1) 0%, rgba(116,63,0,1) 0%, rgba(73,73,73,1) 37%, rgba(78,78,78,1) 46%, rgba(75,75,75,1) 61%, rgba(139,76,0,1) 100%, rgba(99,99,99,1) 100%);
	transform: rotate(-75deg);
}
.car__seat-head {
	position: absolute;
	height: 80px;
	width: 60px;
	bottom: 339px;
	left: 705px;
	border: 2px solid black;
	border-radius: 61% 39% 56% 44% / 51% 100% 0% 49% ;
	z-index: 1;
	background: rgb(96,96,96);
	background: radial-gradient(circle, rgba(96,96,96,1) 0%, rgba(133,69,0,1) 50%, rgba(87,42,0,1) 100%);
	
}
.car__mirror {
	position: absolute;
	height: 70px;
	width: 50px;
	bottom: 276px;
	left: 445px;
	border: 2px solid black;
	border-radius: 100% 0% 46% 54% / 74% 100% 0% 26% ;
	z-index: 7;
	background: rgb(78,0,0);
background: radial-gradient(circle, rgba(78,0,0,1) 0%, rgba(0,0,0,1) 100%);
}
.car__text {
	position: absolute;
	width: 250px;
	font-size: 30px;
	color: rgb(0, 0, 0);
	bottom: 245px;
	left: 800px;
	z-index: 7;
}
.car__marker-front {
	position: absolute;
	width: 23px;
	height: 23px;
	background: rgb(98,98,98);
	background: radial-gradient(circle, rgba(98,98,98,1) 0%, rgba(255,138,0,1) 0%, rgba(180,118,44,1) 14%, rgba(255,138,0,1) 18%, rgba(80,80,80,1) 37%, rgba(255,130,0,1) 39%, rgba(54,54,54,1) 54%, rgba(255,137,0,1) 61%, rgba(78,78,78,1) 64%, rgba(255,139,0,1) 100%, rgba(99,99,99,1) 100%);
	border-radius: 50%;
	bottom: 245px;
	left: 140px;
	z-index: 5;
	border: 3px solid rgb(53, 53, 53);
}
.car__marker-back {
	position: absolute;
	width: 23px;
	height: 23px;
	background: rgb(98,98,98);
	background: radial-gradient(circle, rgba(98,98,98,1) 0%, rgba(255,0,0,1) 0%, rgba(179,0,0,1) 14%, rgba(159,0,0,1) 18%, rgba(80,80,80,1) 37%, rgba(176,0,0,1) 39%, rgba(54,54,54,1) 54%, rgba(255,0,0,1) 61%, rgba(78,78,78,1) 64%, rgba(154,0,0,1) 100%, rgba(99,99,99,1) 100%);
	border-radius: 50%;
	bottom: 245px;
	left: 1040px;
	z-index: 7;
	border: 3px solid rgb(53, 53, 53);
}
.car__helm {
	position: absolute;
	bottom: 290px;
	left: 480px;
	width: 100px;
	height: 25px;
	background: rgb(50, 18, 0);
	border-radius: 10px;
	transform: rotate(60deg);
	z-index: 0;
}



.test {
	font-size: 22px;
	color: rgb(0, 0, 0);
	line-height: 1.2;
	padding: 50px 0;
}
.test__block-wrap {
	border: 1px;
	max-width: 400px;
	min-height: 200px;
	border-radius: 10px;
	margin: 0 auto;
	background-color: rgba(81, 0, 0, 0.565);
}
.test__block-wrap:not(:last-child) {
	margin-bottom: 40px;
}
.test__block {
	text-align: center;
	padding: 100px 0;
	background-color: rgb(81, 0, 0);
	border-radius: 10px;
}
.test__block_translate {
	animation: transform 2s ease infinite normal running 0s forwards;
}
@keyframes transform {
	0% {
	}
	50% {
		transform: translate(30px, 20px);
		color: red;
	}
	100% {
	}
}
.test__block_scale {
	animation: scale 2s ease infinite normal running 0s forwards;
}
@keyframes scale {
	0% {
	}
	50% {
		transform: scale(0.9, 0.7);
	}
	100% {
	}
}
.test__block_rotate {
	animation: rotate 2s ease infinite normal running 0s forwards;
}
@keyframes rotate {
	0% {
	}
	50% {
		transform: rotate(10deg);
	}
	100% {
	}
}
.test__block_skew {
	transition: all 2s ease 0s;
}
.test__block-wrap_skew:hover .test__block_skew {
	transform: skew(-25deg, 5deg);
	background-color: black;
	color: gold;
}

.test__block_skew span {
	animation: blink-text 1s ease infinite normal running 0s forwards;
}
@keyframes blink-text {
	0% {

	}
	50% {
		transform: scale(1.1);
		color: orange;
	}
	100% {

	}
}
.test__block_matrix {
	animation: matrix 3s ease infinite normal running 0s forwards;
}
@keyframes matrix  {
	0% {

	}
	50% {
		transform: matrix(-1, 0.1, -0.1, -1, 0, 0) scale(0.7);
	}
	100% {

	}
}
.test__block_mult-two {
	animation: crazy-rotate 3s ease infinite normal running 0s forwards;
}
@keyframes crazy-rotate  {
	0% {
		background-color: darkgreen;
	}
	50% {
		transform: translate(250px, -75px) scale(0.3, 0.3) rotate(960deg);
		border-radius: 50%;
		background-color: rgb(81, 0, 0);
	}
	100% {
		background-color: darkgreen;
	}
}
.test__block_trans-example {
	animation: example 4s ease infinite normal running 0s forwards;
}
@keyframes example  {
	0% {
	}
	25% {
		transform: scale(1.2, 1) translate(9%, 0%);
		background-color: darkgreen;
		color: white;
	}
	50% {
		transform: scale(1.0, 1.0) translate(0%, 0%);
		color: black;
		background-color: rgb(81, 0, 0);
	}
	75% {
		transform: scale(1.0, 1.2) translate(0%, 9%);
		background-color: darkblue;
		color: white;
	}
	100% {
		
	}
}