@import url("reset.css");

.wrapper {
	overflow: clip;
	min-height: 100%;
}
.wrapper > main {
	flex-grow: 1;
}
body {
	/* font must be here */
	/* font size must be here */
	/* color must be here */
}
[class*="__container"] {
	max-width: 730px;
	margin: 0 auto;
	padding-left: 15px;
	padding-right: 15px;
}
/* * Тег form - блочний
* Тег label - рядковий
* Теги input, textarea, button - блочно-рядкові */
.page {
}
.billing {
	font-family: 'Inter', sans-serif;
	font-size: 16px;
	color: #637381;
	padding-top: 50px;
	padding-bottom: 50px;
}
.billing__header {
	font-weight: 700;
	font-size: 24px;
	line-height: 1.25;
	color: #212B36;
}
.billing__header:not(:last-child) {
	margin-bottom: 30px;
}
.billing__content {
	display: flex;
	flex: 1 1 100%;
	flex-direction: column;
	gap: 30px;
	margin-bottom: 38px;
}
.billing__row {
	display: flex;
	flex: 1 1 100%;
	justify-content: space-between;
	gap: 30px;
}
.billing__input {
	flex: 1 1 100%;
	padding: 15px 25px;
	border: 1px solid #E7E7E7;
	line-height: 1.5;
	border-radius: 7px;
	gap: 30px;
}
[class*="__input"]:focus-visible {
	outline: 2px solid blue;
}
.select-menu {
	font-family: 'Inter', sans-serif;
	font-size: 16px;
	color: #6c7984;
}
/* .select-menu__item {
} */
.billing__input_textarea {
	height: 180px;
	resize: vertical;
	padding: 28px 25px;
}
.billing__checkbox {
	margin-bottom: 55px;
}
/* .checkbox-billing {
} */
.checkbox-billing__check {
	position: relative;
}
.checkbox-billing__check:not(:last-child) {
	margin-bottom: 25px;
}
.checkbox-billing__input {
	position: absolute;
	top: 0;
	left: 0;
	width: 0;
	height: 0;
	opacity: 0;
}
.checkbox-billing__input:focus-visible + .checkbox-billing__label {
	outline: 2px solid blue;
	border-radius: 4px;
}
.checkbox-billing__input:checked + .checkbox-billing__label::before {
	background: url(../img/check_icon.svg) center no-repeat;
}
.checkbox-billing__label {
	cursor: pointer;
	display: inline-flex;
	align-items: center;
	justify-content: flex-start;
	line-height: 1.5;
	gap: 14px;
}
.checkbox-billing__label::before {
	content: "";
	flex: 1 1 22px;
	width: 22px;
	height: 22px;
	border: 1px solid #E7E7E7;
	border-radius: 4px;
}
.billing__coupon {
	margin-bottom: 55px;
}
.coupon-billing {
	display: flex;
	flex: 1 1 100%;
	flex-direction: column;
	gap: 25px;
}
.coupon-billing__header {
	font-weight: 600;
	font-size: 20px;
	line-height: 1.3;
	/* identical to box height, or 130% */
	color: #212B36;
}
.coupon-billing__row {
	display: flex;
	flex: 1 1 100%;
	gap: 20px;
}
.coupon-billing__input {
	flex: 0 1 325px;
	background: #FFFFFF;
	border: 1px solid #E7E7E7;
	border-radius: 5px;
	padding: 12px 22px;
}
.coupon-billing__apply-button {
	font-weight: 600;
	line-height: 1.5;
	/* identical to box height, or 150% */
	color: #FFFFFF;
	background-color: #212B36;
	border-radius: 5px;
	padding: 12px 22px;
	transition: all 0.3s;
}
.coupon-billing__apply-button:hover {
	color: #E7E7E7;
	background-color: #000000;
	transform: scale(1.008);
}
.billing__place-order {
	display: flex;
	justify-content: center;
}
.billing__order-button {
	flex: 0 1 420px;
	font-weight: 600;
	line-height: 1.5;
	/* identical to box height, or 150% */
	color: #FFFFFF;
	background: #3056D3;
	border-radius: 5px;
	padding: 12px 22px;
	transition: all 0.3s;
}
.billing__order-button:hover {
	color: #E7E7E7;
	background: #2847ad;
}
.page-section {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 1.25;
	/* or 125% */
	color: #3F3F3F;
}
.shipping::after {
	content: "";
	display: block;
	padding-top: 36px;
	border-bottom: 1px solid #C4C4C4;
}
.shipping__header {
	font-family: 'Oswald';
	font-weight: 400;
	font-size: 24px;
	line-height: 2.83;
	/* or 283% */
	color: #000000;
	margin-bottom: 34px;
}
.shipping__fields {
	display: flex;
	flex: 1 1 100%;
	flex-direction: column;
	gap: 26px;
}
.shipping__row {
	display: flex;
	flex: 1 1 100%;
	row-gap: 30px;
}
.shipping__label {
	flex: 1 1 25.578%;
	padding-right: 30px;
}
[class*="__label"] span {
	color: #EB5757;
}
.shipping__input {
	flex: 1 1 74.422%;
	padding: 12px 16px;
	border: 1px solid #C4C4C4;
}
.shipping__login {
	display: flex;
	flex-direction: column;
	row-gap: 14px;
}
/* .login-shipping {

} */
.login-shipping__explanation {
	color: #828282;
	padding: 10px 0;
	font-size: 14px;
	line-height: 1.43;
}
.login-shipping__part {
	display: flex;
	gap: 25px;
	align-items: center;
}
.login-shipping__button {
	flex: 0 1 120px;
	font-family: 'Oswald';
	font-weight: 500;
	font-size: 14px;
	line-height: 1.5;
	letter-spacing: 0.5px;
	text-transform: uppercase;
	color: #FFFFFF;
	background-color: #000000;
	padding: 15px;
	transition: all 0.3s;
}
.login-shipping__button:hover {
	background-color: #1b2229;
}
.login-shipping__forgot {
	font-size: 14px;
	line-height: 1.43;
	color: #0F6DB1;
	transition: all 0.3s;
}
.login-shipping__forgot:hover {
	color: #164d75;
}
.method {
	padding-top: 39px;
	padding-bottom: 49px;
}
.method__fields {
	display: flex;
	flex-direction: column;
	gap: 24px;
	margin-bottom: 39px;
}
.method__row {
	flex: 1 1 100%;
	display: flex;
	justify-content: space-between;
}
.method__label {
	flex: 1 1 25.578%;
	padding-right: 30px;
}
.method__input {
	flex: 1 1 74.422%;
	padding: 12px 16px;
	border: 1px solid #C4C4C4;
}
.select-method {
	font-size: 16px;
	line-height: 1.25;
	/* or 125% */
	color: #3F3F3F;
}
/* .select-method__item {
} */
.method__shipping {

}
.method__title {
	font-family: 'Oswald';
	font-weight: 400;
	font-size: 24px;
	line-height: 1;
	color: #000000;
	margin-bottom: 40px;
}
.method__radio {
	margin-bottom: 24px;
}
.radio-method {
}
.radio-method__row {
	display: flex;
	gap: 30px;
	justify-content: flex-start;
	border-top: 1px solid #C4C4C4;
	padding: 12px 0;
	position: relative;
}
.radio-method__input {
	position: absolute;
	opacity: 0;
	top: 0;
	left: 0;
	width: 0;
	height: 0;
}
.radio-method__label {
	flex: 0 1 20%;
}
.radio-method__label_marker {
	display: flex;
	gap: 10px;
	align-items: center;
}
.radio-method__label_marker::before {
	content: "";
	display: inline-flex;
	flex: 0 1 10px;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background: #FFFFFF;
	border: 1px solid #828282;
	transition: all 0.3s;
}
.radio-method__input:checked + .radio-method__label_marker::before {
	background: #FFFFFF;
	border: 3px solid #000000;
}
.radio-method__input:checked + .radio-method__label_marker {
	color: black;
	font-weight: 700;
}
.method__buttons {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.method__button {
	flex: 0 1 120px;
	font-family: 'Oswald';
	font-weight: 500;
	font-size: 14px;
	line-height: 1.5;
	letter-spacing: 0.5px;
	text-transform: uppercase;
	color: #FFFFFF;
	background-color: #000000;
	padding: 15px;
	transition: all 0.3s;
}
.method__button:hover {
	background-color: #1b2229;
}
.method__button-back {
	font-family: 'Oswald';
	font-weight: 500;
	font-size: 14px;
	line-height: 1.5;
	letter-spacing: 0.5px;
	text-transform: uppercase;
	transition: all 0.3s;
	color: #828282;
}
.method__button-back:hover {
	color: #000000;
}
.radio-method__input:focus-visible + .radio-method__label {
	outline: 2px solid blue;
	border-radius: 4px;
}
