@import url("reset.css");
body {
	font-family: 'Poppins', sans-serif;
	font-weight: 300;
}
.text {
	font-size: 14px;
	line-height: 1.78;
	color: #6C757D;
}
h2 {
	font-weight: 700;
	font-size: 25px;
	line-height: 1.6;
	margin-bottom: 40px;
	color: #212529;
}
.article {
	padding: 20px 0;
}
[class*="__container"] {
	max-width: 1270px;
	margin: 0 auto;
	padding-left: 15px;
	padding-right: 15px;
}
[class*="__text-block"]{
	max-width: 816px;
	margin: 0 auto 80px;
}
.article__images {
	font-size: 0;
	margin-bottom: 80px;
}
.article-image {
	margin-bottom: 80px;
}
.article-img {
	max-width: 100%;
	border-radius: 5px;
}
.pd {
	margin-bottom: 30px;
}
.img-two {
	margin-right: 25px;
}
.article-title-one {
	max-width: 400px;
}
.article-title-two {
	max-width: 605px;
}

/* CSS для проробки уроку */
.test-one {
	background-color: rgb(249, 236, 199);
	height: 900px;
	padding-top: 40px;
}
.t-one {
	background-color: red;
	width: 800px;
	height: 150px;
	padding-top: 50px;
	padding-left: 30px;
	margin-left: 60px;
	margin-bottom: 50px; /* схлопування */
}
.t-two {
	background-color: yellowgreen;
	max-width: 800px;
	min-width: 650px;
	height: 150px;
	margin-left: 60px;
	margin-top: 100px; /* схлопування */
	box-sizing: content-box; /* блок збыльшився на величину бордеру */
	border: 5px dashed brown;
}
.t-three {
	margin: 50px 0 0 60px;
	border: 1px solid black;
	height: 150px;
	max-width: 800px;
	overflow: scroll;
}
.test-p {
	font-weight: 700;
	border: 1px solid blue;
}
.t-three div {
	display: inline-block;
	margin: 25px 40px 20px 20px; /* від лівого боку буде 20рх і між блоками 40рх */
	width: 150px;
	height: 100px;
	background-color: brown;
}
.test-d-one {
	overflow-y: scroll;
}
.test-d-two {
	overflow: hidden;
}
.test-d-three {
	overflow: clip;
}